body {
    width: 100%;
    background-image: url("http://es.logicintegration.net/images/uploads/Messy-Wires-Cables.jpg");
    background-position: center top;
    padding: 10px;   
}

.main-container {
    width: 100%;
    max-width: 800px;
    background-color:grey;
    padding: 20px;
    margin: auto;
}
#commentForm {
    margin: 20px;
}
#commentSection {
    margin: 20px;
}
.eachArticle {
 border: 1px solid #B3B3B3;
 border-radius: 10px;
}
